.navigation {
  background-color: #666666;
  max-width: 500px;
  min-width: 250px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: nav;
}

.navigation input {
  flex: 1 0 80%;
  width: 100%;
  line-height: 200%;
  margin-right: 7px;
  border-radius: 5px;
  border: #b9b9b9 2px solid;
}

.navigation input:focus {
  box-shadow: 0 0 5px 2px orangered;
  outline: none;
}

.navigation_button {
  padding: 2px;
  border-radius: 4px;
  width: 30px;
}
