.App {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.App h1 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.gridWrap {
    height: 100vh;
    display: grid;
    width: 100%;
    grid-template-columns: 2.5fr 7.5fr;
    grid-template-rows: 50px;
    grid-template-areas: 'nav item'
                        'side item';
}
