.modal {
  background-color: #var(--whiteGray);
  font-size: 20px;
  width: 200px;
  display: flex;
  row-gap: 7px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  padding: 10px;
  z-index: 909090;
  position: absolute;
  bottom: 35px;
  right: 0;
  & .error{
    background-color: lightpink;
    border-radius: 5px;
    margin: 0;
    padding: 3px;
    text-align: center;
    font-size: inherit;
    height: fit-content;
    border: 2px solid red;
    color: red;
  }
  & .closeBtn{
    position: absolute;
    right: 5px;
    top: 5px;
  }
  & input{
    border-radius: 5px;
    border: var(--lightGray) 2px solid;
    line-height: 160%;
    &:focus{
      box-shadow: 0 0 5px 2px orangered;
      outline: none;
    }
  }
}