.modal_error_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 30;
	background-color: rgba(0, 0, 0, 0.6);
	.modal_error{
		overflow: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 10px;
		border-radius: 10px;
		position: absolute;
		width: 80%;
		height: 80%;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: black;
		background-color: #fff;
		span {
			font-size: 40px;
		}
		img{
			width: 80vmin;
			margin: 20px 0;
		}
	}
	.modal_error_close{
		position: absolute;
		top: 10px;
		right: 10px;
	}
}